<div class="general">
  <table> <!-- bootstrap classes added by the uitheme widget -->
    <thead>
      <tr>
        <th>IP</th>
        <th>Tipo Sensor</th>
        <th>Descripción</th>
        <th>Acción</th>
        <th>Eliminar</th>
    </thead>
    <tbody>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
      <tr><td>Student01</td><td>Languages</td><td>male</td><td>80</td><td>70</td></tr>
    </tbody>
  </table>
</div>