<div class="general">
  <table> <!-- bootstrap classes added by the uitheme widget -->
    <thead>
      <tr>
        <th>IP</th>
        <th>Tipo Sensor</th>
        <th>Condición</th>
        <th>Mensjae</th>
        <th>Acción</th>
        <th>Contactos</th>
        <th>Acciones</th>
    </thead>
    <tbody>
      <tr><td>192.168.1.168</td><td>Temperatura</td><td>valor < 3</td><td>La temperatura que registra :ip es de :valor ºC</td><td>Enviar telegram</td><td>Contactos</td><td>Eliminar</td></tr>
    </tbody>
  </table>
</div>