#inline{
    margin-bottom: 15px !important;
}


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

#userlistadd {
    width: 80%;
    margin-bottom: 10px !important;
    margin: auto;
}

#contenedor_alerta{
    padding: 10px;
}

.maxsize{
    width: 100%;
    margin-bottom: 10px;
}

.delblanc{
    color: white;
}

.addblanc{
    color: white;
}

.sepusers{
    margin-bottom: 10px;
}

.marginbottom{
    margin-bottom: 15px;
}

.double-input .form-control {
  width: 50%;
  border-right-width: 0px;
}

.double-input .form-control:focus {
  border-right-width: 1px;
}

.actionname{
    margin-bottom: 15px;
}

.centerecontent {
    width: 50%;
    margin: 0 auto; 
}

.sep{
    margin-bottom: 15px;
}

.paddinalerta{
    padding: 10px;
}